h1{
    text-align: center;
    color:tomato;
}

#homePage{
    display: block;
}

#registrationProcess{
    display:none;
}

#loginProcess{
    display: none;
}

#courseDetails
{
    display: none;
}

button{
    width: 150px;
    height: 30px;
    margin-left: 10px;
    border:  0px solid white;
    background-color: tomato;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
}